.lang {
    position: absolute;
    top: 6vh;
    left: 10px;
    font-size: 12px;
}

.lang a {
    cursor: pointer;
    text-decoration: underline;
}

.lang a.active {
    font-weight: bold;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}

@media screen and (min-width: 769px) {
    .lang {
        left: calc(100% / 2 - 50px);
    }
}
