@import url("./nav.css");
@import url("./modals.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: "Open Sans", sans-serif;
    grid-template-rows: 5vh 95vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 24px;
}

header {
    grid-row: 1 / 2;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgb(140, 140, 192) 0%,
        rgb(168, 173, 213) 100%
    );
    border-bottom: 1px white solid;
}

main {
    grid-row: 2 / 3;
    background-color: rgb(223, 239, 255);
}

main .unlogged,
main .login,
main .register {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}

main .login h1 {
    margin-bottom: 7px;
}

main .login p {
    margin-bottom: 50px;
    font-size: small;
    text-align: center;
}

main .login form,
main .register form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .login form .line,
main .register form .line {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
    position: relative;
    margin-bottom: 36px;
}

main .login form .line label,
main .register form .line label {
    margin-right: 10px;
    text-align: right;
    padding-top: 7px;
}

main .login form .line input,
main .register form .line input {
    padding: 10px 20px;
    border: none;
    border-radius: 500px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    border: 1px solid #c4d5eb;
}

main .login form .line label {
    width: 15%;
}
main .login form .line input {
    width: 75%;
}

main .register form .line label {
    width: 30%;
}
main .register form .line input {
    width: 60%;
}

main .login form .line button.login-btn,
main .register form .line button.register-btn,
.closeModal-btn {
    padding: 10px 20px;
    width: auto;
    text-transform: uppercase;
    background-color: #0049a8;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
    border-radius: 500px;
    text-shadow: 1px 1px 3px black;
    transition: all 0.3s;
}

main .login form .line button.login-btn:hover,
main .register form .line button.register-btn:hover,
.closeModal-btn:hover {
    background-color: #005bd2;
}

.hidden {
    display: none !important;
}

.lang {
    position: absolute;
    font-size: 12px;
    top: 40px;
    left: 10px;
}

.lang a {
    cursor: pointer;
}

.lang a.active {
    text-decoration: underline;
}

.errors {
    position: absolute;
    color: red;
    top: 40px;
    font-size: 12px;
    text-align: left;
    display: inline-block;
    right: 5vh;
}

#register > div:nth-child(2) > div:nth-child(4),
#register > div:nth-child(3) > div:nth-child(4) {
    top: 55px;
}

@media screen and (min-width: 769px) {
    main .login form,
    main .register form {
        width: 60%;
    }

    .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modal .info {
        position: relative;
        width: 70vh;
        height: 70vh;
    }

    .modal .info .errors {
        font-size: 24px;
    }
}
