@import url("./nav.css");
@import url("./modals.css");
@import url("./transactions-view.css");
@import url("./lang-changer.css");
@import url("./transaction.css");
@import url("./data-nav.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 5vh 95vh;
    font-family: "Open Sans", sans-serif;
}

h1 {
    margin-bottom: 24px;
    font-size: 24px;
}

header {
    grid-row: 1 / 2;
    width: 100%;
    border-bottom: 1px white solid;
    background: linear-gradient(
        90deg,
        rgb(140, 140, 192) 0%,
        rgb(168, 173, 213) 100%
    );
}

main {
    grid-row: 2 / 3;
    background-color: rgb(223, 239, 255);
}

main .unlogged,
main .login,
main .register {
    display: flex;
    width: 100%;
    height: 95vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .login h1 {
    margin-bottom: 7px;
}

main .login p {
    margin-bottom: 50px;
    font-size: small;
    text-align: center;
    padding: 0px 30px;
}

main .login form,
main .register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main .login form .line,
main .register form .line {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    width: 100%;
}

main .login form .line label,
main .register form .line label {
    margin-right: 10px;
    padding-top: 7px;
    text-align: right;
}

main .login form .line input,
main .register form .line input {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    border: 1px solid #c4d5eb;
    border-radius: 500px;
    padding: 10px 20px;
}

main .login form .line label {
    width: 25%;
    font-size: 13px;
}
main .login form .line input {
    width: 70%;
}

main .register form .line label {
    width: 25%;
    font-size: 13px;
}
main .register form .line input {
    width: 70%;
}

body > main > div.register > p {
    text-align: center;
    padding: 0px 40px;
    font-size: 13px;
}

.button {
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
    border-radius: 500px;
    width: auto;
    padding: 10px 20px;

    background-color: #0049a8;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #005bd2;
}

.hidden {
    display: none !important;
}

.errors {
    position: absolute;
    top: 40px;
    right: 5vh;
    display: inline-block;

    font-size: 12px;
    text-align: left;
    color: red;
}

.username {
    margin-right: 10px;
}

#register > div:nth-child(2) > div:nth-child(4),
#register > div:nth-child(3) > div:nth-child(4) {
    top: 55px;
}

@media screen and (min-width: 769px) {
    main .login form,
    main .register form {
        width: 60%;
    }
}
