.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    background-color: white;
}

.modal .info .errors {
    position: unset;
    margin-bottom: 40px;
    padding: 20px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.modal.ad .info {
    padding: 50px;
}

.modal.ad .info .buttons {
    flex-direction: column;
    gap: 20px;
    display: flex;
}

.modal.ad .info p {
    margin-bottom: 50px;
    text-align: center;
}

.button.x-button {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 17px;
}

.button.x-button::after,
.button.x-button::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 8px;
    width: 17px;
    height: 2px;
    background-color: white;
}

.button.x-button::after {
    transform: rotate(45deg);
}

.button.x-button::before {
    transform: rotate(-45deg);
}
.button.x-button::after {
    transform: rotate(45deg);
}

@media screen and (min-width: 769px) {
    .modal.ad .info .buttons {
        flex-direction: row;
    }

    .modal {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }

    .modal .info {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border-radius: 15px;
        width: 70vh;
        height: 70vh;
    }

    .modal .info .errors {
        font-size: 24px;
    }
} ;
