* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font-family: "Open Sans", sans-serif;
}

main {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main .transaction {
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid black;
}
