.transaction {
    position: relative;
    display: flex;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.logged .downPage .date,
.logged .downPage .balance,
.logged .downPage .type {
    display: none;
}

.logged .downPage .transaction .icon {
    margin-right: 5px;
}

.logged .downPage .transaction .description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 350px;
}

.logged .downPage .transaction .amount {
    margin-left: auto;
}

.logged .downPage .transaction .type {
    position: absolute;
    top: 35px;
    left: 32px;
    font-size: 12px;
}

.logged .downPage .transaction .balance {
    position: absolute;
    top: 35px;
    font-size: 12px;
    right: 11px;
}

.logged .downPage .transaction.open {
    height: 60px;
}

@media screen and (min-width: 769px) {
    .logged .downPage .transaction {
        height: 60px;
    }

    .logged .downPage .date,
    .logged .downPage .balance,
    .logged .downPage .type {
        display: inline-block !important;
    }

    .logged .downPage .date {
        margin-right: 10px;
    }

    .logged .downPage .transaction .type {
        left: 125px;
    }
}
